Repository kkk9131/mmS, changes with the owners that .github/CODEOWNERS names for each.
All owners: @default-team, @frontend-team, @design-team, @backend-team, @dba-team, @security-team, @mobile-team, @ios-team, @android-team, @devops-team, @docs-team, @product-team, @engineering-leads, @qa-team

feat: 認証フロー完了システムの実装
  .kiro/specs/authentication-flow-completion/design.md
  .kiro/specs/authentication-flow-completion/requirements.md
  .kiro/specs/authentication-flow-completion/tasks.md
  .kiro/specs/jwt-authentication-system/design.md
  .kiro/specs/jwt-authentication-system/requirements.md
  .kiro/specs/jwt-authentication-system/tasks.md
  README.md
  metro.config.js
  package-lock.json
  package.json
  sql/create_post_bypass_rls.sql
  sql/custom_auth_rls_policies.sql
  sql/disable_posts_rls.sql
  sql/disable_rls_temporarily.sql
  src/app/liked-posts.tsx
  src/components/auth/ProtectedRoute.tsx
  src/contexts/AuthContext.tsx
  src/services/auth/JWTTokenManager.ts
  src/services/jwt/AccountDeletionService.ts
  src/services/jwt/AuthErrorHandler.ts
  src/services/jwt/AuthGuard.ts
  src/services/jwt/AuthStateManager.ts
  src/services/jwt/AutoLoginManager.ts
  src/services/jwt/AutoRefreshService.ts
  src/services/jwt/BiometricAuthManager.ts
  src/services/jwt/ErrorRecoveryService.ts
  src/services/jwt/JWTAuthService.ts
  src/services/jwt/JWTTokenManager.ts
  src/services/jwt/JWTUtils.ts
  src/services/jwt/LogoutManager.ts
  src/services/jwt/SecureTokenStorage.ts
  src/services/jwt/SessionRestoreService.ts
  src/services/jwt/TokenSecurityMonitor.ts
  src/services/jwt/TokenValidator.ts
  src/services/jwt/__tests__/BiometricAuthManager.test.ts
  src/services/jwt/__tests__/JWTTokenManager.test.ts
  src/services/jwt/index.ts
  src/services/jwt/types.ts
  src/services/supabase/client.ts
  src/store/api/postsApi.ts
Owners: @docs-team, @product-team, @default-team, @engineering-leads, @dba-team, @frontend-team, @backend-team, @qa-team

feat: 完全な画像アップロードシステム実装
  .kiro/specs/image-upload-system/design.md
  .kiro/specs/image-upload-system/requirements.md
  .kiro/specs/image-upload-system/tasks.md
  docs/development-roadmap.md
  docs/parallel-development-roadmap.md
  package-lock.json
  package.json
  src/app/(tabs)/post.tsx
  src/app/profile-edit.tsx
  src/components/PostCard.tsx
  src/components/image/ImageEditor.tsx
  src/components/image/ImageSelectionModal.tsx
  src/components/image/ImageUploadButton.tsx
  src/components/image/ImageViewer.tsx
  src/components/image/LazyImage.tsx
  src/services/image/AccessibilityService.ts
  src/services/image/CacheManager.ts
  src/services/image/ErrorRecoveryService.ts
  src/services/image/ImageProcessor.ts
  src/services/image/ImageUploadManager.ts
  src/services/image/InternationalizationService.ts
  src/services/image/PerformanceMonitor.ts
  src/services/image/SupabaseImageService.ts
  src/store/api/imageApi.ts
  src/store/index.ts
  src/store/slices/imageSlice.ts
  src/types/image.ts
Owners: @docs-team, @engineering-leads, @frontend-team, @backend-team, @default-team

feat: 完全な画像アップロードシステム実装 (#10)
  .kiro/specs/image-upload-system/design.md
  .kiro/specs/image-upload-system/requirements.md
  .kiro/specs/image-upload-system/tasks.md
  docs/development-roadmap.md
  docs/parallel-development-roadmap.md
  package-lock.json
  package.json
  src/app/(tabs)/post.tsx
  src/app/profile-edit.tsx
  src/components/PostCard.tsx
  src/components/image/ImageEditor.tsx
  src/components/image/ImageSelectionModal.tsx
  src/components/image/ImageUploadButton.tsx
  src/components/image/ImageViewer.tsx
  src/components/image/LazyImage.tsx
  src/services/image/AccessibilityService.ts
  src/services/image/CacheManager.ts
  src/services/image/ErrorRecoveryService.ts
  src/services/image/ImageProcessor.ts
  src/services/image/ImageUploadManager.ts
  src/services/image/InternationalizationService.ts
  src/services/image/PerformanceMonitor.ts
  src/services/image/SupabaseImageService.ts
  src/store/api/imageApi.ts
  src/store/index.ts
  src/store/slices/imageSlice.ts
  src/types/image.ts
Owners: @docs-team, @engineering-leads, @frontend-team, @backend-team, @default-team

feat: プロフィール画像設定完成とプッシュ通知システム完了
  .kiro/specs/push-notification-system/design.md
  .kiro/specs/push-notification-system/requirements.md
  .kiro/specs/push-notification-system/tasks.md
  app.json
  deployment/feature-flags.ts
  deployment/push-notification-rollout-plan.md
  docs/development-roadmap.md
  docs/push-notification-api.md
  docs/push-notification-operations.md
  docs/push-notification-troubleshooting.md
  package-lock.json
  package.json
  sql/001_create_push_notifications_tables.sql
  src/app/(tabs)/post.tsx
  src/app/(tabs)/you.tsx
  src/app/notifications/settings.tsx
  src/app/profile-edit.tsx
  src/components/notifications/NotificationSettingsScreen.tsx
  src/hooks/useEnhancedNotifications.ts
  src/hooks/useNotifications.ts
  src/services/UserService.ts
  src/services/image/ImageProcessor.ts
  src/services/image/SupabaseImageService.ts
  src/services/notifications/BadgeManager.ts
  src/services/notifications/ErrorHandler.ts
  src/services/notifications/MonitoringManager.ts
  src/services/notifications/NotificationHandler.ts
  src/services/notifications/NotificationQueueManager.ts
  src/services/notifications/NotificationService.ts
  src/services/notifications/NotificationSettingsManager.ts
  src/services/notifications/PerformanceOptimizer.ts
  src/services/notifications/PushTokenManager.ts
  src/services/notifications/README.md
  src/services/notifications/SecurityManager.ts
  src/services/notifications/__tests__/NotificationService.test.ts
  src/services/notifications/__tests__/PushTokenManager.test.ts
  src/services/notifications/__tests__/integration.test.ts
  src/store/api/notificationsApi.ts
  supabase/functions/send-push-notification/index.ts
Owners: @docs-team, @default-team, @engineering-leads, @dba-team, @frontend-team, @backend-team, @product-team, @qa-team

feat: プロフィール画像設定完成とプッシュ通知システム完了 (#11)
  .kiro/specs/push-notification-system/design.md
  .kiro/specs/push-notification-system/requirements.md
  .kiro/specs/push-notification-system/tasks.md
  app.json
  deployment/feature-flags.ts
  deployment/push-notification-rollout-plan.md
  docs/development-roadmap.md
  docs/push-notification-api.md
  docs/push-notification-operations.md
  docs/push-notification-troubleshooting.md
  package-lock.json
  package.json
  sql/001_create_push_notifications_tables.sql
  src/app/(tabs)/post.tsx
  src/app/(tabs)/you.tsx
  src/app/notifications/settings.tsx
  src/app/profile-edit.tsx
  src/components/notifications/NotificationSettingsScreen.tsx
  src/hooks/useEnhancedNotifications.ts
  src/hooks/useNotifications.ts
  src/services/UserService.ts
  src/services/image/ImageProcessor.ts
  src/services/image/SupabaseImageService.ts
  src/services/notifications/BadgeManager.ts
  src/services/notifications/ErrorHandler.ts
  src/services/notifications/MonitoringManager.ts
  src/services/notifications/NotificationHandler.ts
  src/services/notifications/NotificationQueueManager.ts
  src/services/notifications/NotificationService.ts
  src/services/notifications/NotificationSettingsManager.ts
  src/services/notifications/PerformanceOptimizer.ts
  src/services/notifications/PushTokenManager.ts
  src/services/notifications/README.md
  src/services/notifications/SecurityManager.ts
  src/services/notifications/__tests__/NotificationService.test.ts
  src/services/notifications/__tests__/PushTokenManager.test.ts
  src/services/notifications/__tests__/integration.test.ts
  src/store/api/notificationsApi.ts
  supabase/functions/send-push-notification/index.ts
Owners: @docs-team, @default-team, @engineering-leads, @dba-team, @frontend-team, @backend-team, @product-team, @qa-team

chore: bump version to v1.5.0
  CHANGELOG_TEMP.md
  package-lock.json
  package.json
Owners: @docs-team, @engineering-leads

Claude PR Assistant workflow
  .github/workflows/claude.yml
Owners: @devops-team, @engineering-leads

Claude Code Review workflow
  .github/workflows/claude-code-review.yml
Owners: @devops-team, @engineering-leads

Add Claude Code GitHub Workflow (#15)
  .github/workflows/claude-code-review.yml
  .github/workflows/claude.yml
Owners: @devops-team, @engineering-leads

fix: フォロー機能のRLSポリシーエラー修正
  src/services/FollowService.ts
Owners: @backend-team

feat: 画像ポスト機能の完全実装 - SNSアプリ仕様対応
  src/components/PostCard.tsx
  src/components/image/ImageUploadButton.tsx
Owners: @frontend-team

fix: ImageUploadButtonの未定義変数エラーを修正
  src/components/image/ImageUploadButton.tsx
Owners: @frontend-team

fix: 画像アップロードエラーの修正
  src/services/image/SupabaseImageService.ts
Owners: @backend-team

fix: Supabaseストレージエラーの対処とセットアップガイド追加
  STORAGE_SETUP.md
  src/scripts/setup-storage-buckets.sql
  src/services/image/SupabaseImageService.ts
Owners: @docs-team, @dba-team, @backend-team

feat: Storageセットアップの簡略化と自動化
  QUICK_STORAGE_SETUP.md
  package.json
  setup-storage.js
Owners: @docs-team, @engineering-leads, @default-team

fix: Supabase MCPで正しいプロジェクトIDとAPIキーに修正
  src/services/image/SupabaseImageService.ts
Owners: @backend-team

fix: 画像アップロード機能を大幅簡略化してエラー解消
  src/app/(tabs)/post.tsx
  src/components/image/ImageUploadButton.tsx
Owners: @frontend-team

cleanup: 未使用変数とLint警告を修正
  src/app/(tabs)/post.tsx
  src/components/image/ImageUploadButton.tsx
Owners: @frontend-team

feat: 複数画像アップロード機能実装
  .gitignore
  .kiro/specs/multiple-image-upload/design.md
  .kiro/specs/multiple-image-upload/requirements.md
  .kiro/specs/multiple-image-upload/tasks.md
  app.json
  src/app/(tabs)/index.tsx
  src/app/(tabs)/post.tsx
  src/app/_layout.tsx
  src/app/profile.tsx
  src/components/OptimizedComponents.tsx
  src/components/PostCard.tsx
  src/components/image/ImageCaptionInput.tsx
  src/components/image/ImagePreviewCarousel.tsx
  src/components/image/ImagePreviewThumbnail.tsx
  src/components/image/LazyImage.tsx
  src/components/image/MultipleImageDisplay.tsx
  src/components/image/MultipleImageUploadComponent.tsx
  src/scripts/beta-test-consolidated-report.ts
  src/scripts/feedback-analysis-system.ts
  src/scripts/icon-processor.ts
  src/scripts/setup-anonymous-upload-policy.sql
  src/scripts/setup-simple-storage-policies.sql
  src/scripts/setup-storage-policies.sql
  src/scripts/testflight-deployment.ts
  src/scripts/update-create-post-rpc.sql
  src/services/PostsService.ts
  src/store/api/postsApi.ts
  src/types/image.ts
  src/types/index.ts
  src/types/supabase.ts
Owners: @default-team, @docs-team, @frontend-team, @dba-team, @backend-team

Feature/image post implementation (#17)
  .gitignore
  .kiro/specs/multiple-image-upload/design.md
  .kiro/specs/multiple-image-upload/requirements.md
  .kiro/specs/multiple-image-upload/tasks.md
  QUICK_STORAGE_SETUP.md
  STORAGE_SETUP.md
  app.json
  package.json
  setup-storage.js
  src/app/(tabs)/index.tsx
  src/app/(tabs)/post.tsx
  src/app/_layout.tsx
  src/app/profile.tsx
  src/components/OptimizedComponents.tsx
  src/components/PostCard.tsx
  src/components/image/ImageCaptionInput.tsx
  src/components/image/ImagePreviewCarousel.tsx
  src/components/image/ImagePreviewThumbnail.tsx
  src/components/image/ImageUploadButton.tsx
  src/components/image/LazyImage.tsx
  src/components/image/MultipleImageDisplay.tsx
  src/components/image/MultipleImageUploadComponent.tsx
  src/scripts/beta-test-consolidated-report.ts
  src/scripts/feedback-analysis-system.ts
  src/scripts/icon-processor.ts
  src/scripts/setup-anonymous-upload-policy.sql
  src/scripts/setup-simple-storage-policies.sql
  src/scripts/setup-storage-buckets.sql
  src/scripts/setup-storage-policies.sql
  src/scripts/testflight-deployment.ts
  src/scripts/update-create-post-rpc.sql
  src/services/PostsService.ts
  src/services/image/SupabaseImageService.ts
  src/store/api/postsApi.ts
  src/types/image.ts
  src/types/index.ts
  src/types/supabase.ts
Owners: @default-team, @docs-team, @engineering-leads, @frontend-team, @dba-team, @backend-team

feat: 中優先度最適化完了 - 型安全性58.7%削減・パフォーマンス67.7%向上・バンドルサイズ24%削減
  MEDIUM_PRIORITY_IMPLEMENTATION.md
Owners: @docs-team

feat: 中優先度最適化完了 - 型安全性58.7%削減・パフォーマンス67.7%向上・バンドルサイズ24%削減 (#20)
  MEDIUM_PRIORITY_IMPLEMENTATION.md
Owners: @docs-team

完全修正: RTK-Query middlewareを常に追加
  src/app/(tabs)/index.tsx
  src/debug/store-debug.ts
  src/store/index.ts
Owners: @frontend-team, @default-team

fix: Supabase投稿表示問題の修正とコードクリーンアップ
  sql/create-rpc-function.sql
  sql/fix-rls-and-create-data.sql
  src/app/(tabs)/index.tsx
  src/components/LazyImage.tsx
  src/components/LazyPostList.tsx
  src/providers/ReduxProvider.tsx
  src/scripts/test-supabase-data.ts
  src/services/PostsService.ts
  src/services/UserService.ts
  src/services/featureFlags.ts
  src/services/supabase/auth.ts
  src/services/supabase/client.ts
  src/services/supabase/config.ts
  src/store/api/postsApi.ts
  src/store/api/supabaseApi.ts
  src/store/api/usersApi.ts
  src/utils/DevUtils.ts
  src/utils/optimizedQueries.ts
  src/utils/performanceCache.ts
Owners: @dba-team, @frontend-team, @default-team, @backend-team

fix: Supabase投稿表示問題の修正とコードクリーンアップ
  sql/create-rpc-function.sql
  sql/fix-rls-and-create-data.sql
  src/app/(tabs)/index.tsx
  src/components/LazyImage.tsx
  src/components/LazyPostList.tsx
  src/debug/store-debug.ts
  src/providers/ReduxProvider.tsx
  src/scripts/test-supabase-data.ts
  src/services/PostsService.ts
  src/services/UserService.ts
  src/services/featureFlags.ts
  src/services/supabase/auth.ts
  src/services/supabase/client.ts
  src/services/supabase/config.ts
  src/store/api/postsApi.ts
  src/store/api/supabaseApi.ts
  src/store/api/usersApi.ts
  src/store/index.ts
  src/utils/DevUtils.ts
  src/utils/optimizedQueries.ts
  src/utils/performanceCache.ts
Owners: @dba-team, @frontend-team, @default-team, @backend-team

chore: bump version to v1.5.0
  CHANGELOG_TEMP.md
  package-lock.json
  package.json
Owners: @docs-team, @engineering-leads

.github/CODEOWNERS:

# CODEOWNERS file for automatic code review assignments
# Each line is a file pattern followed by one or more owners.
# Order is important; the last matching pattern takes precedence.

# Default owners for everything in the repo
* @default-team

# Frontend code owners
/src/components/ @frontend-team
/src/pages/ @frontend-team
/src/styles/ @frontend-team @design-team
/src/hooks/ @frontend-team
/src/utils/ @frontend-team
/src/assets/ @design-team
*.tsx @frontend-team
*.jsx @frontend-team
*.css @frontend-team @design-team
*.scss @frontend-team @design-team

# Backend code owners
/src/api/ @backend-team
/src/services/ @backend-team
/src/models/ @backend-team
/src/middleware/ @backend-team
/src/database/ @backend-team @dba-team
/src/auth/ @backend-team @security-team
*.sql @dba-team

# Mobile specific code
/src/mobile/ @mobile-team
/ios/ @ios-team
/android/ @android-team
*.swift @ios-team
*.kt @android-team
*.java @android-team

# Configuration and DevOps
/.github/ @devops-team
/scripts/ @devops-team
/docker/ @devops-team
/k8s/ @devops-team
*.yml @devops-team
*.yaml @devops-team
Dockerfile* @devops-team
docker-compose* @devops-team

# Documentation
/docs/ @docs-team @product-team
*.md @docs-team
README.md @docs-team @product-team
CONTRIBUTING.md @docs-team @engineering-leads

# Test files
/tests/ @qa-team
/e2e/ @qa-team
/__tests__/ @qa-team
*.test.ts @qa-team @frontend-team
*.test.tsx @qa-team @frontend-team
*.spec.ts @qa-team @backend-team
*.spec.js @qa-team

# Security sensitive files
/.env* @security-team @engineering-leads
/security/ @security-team
*secret* @security-team
*password* @security-team
*token* @security-team
*key* @security-team

# Build and dependency files
package.json @engineering-leads
package-lock.json @engineering-leads
yarn.lock @engineering-leads
tsconfig.json @frontend-team @engineering-leads
.eslintrc* @frontend-team
.prettierrc* @frontend-team
webpack.config.js @frontend-team @devops-team
vite.config.js @frontend-team @devops-team

# Critical application files
/src/App.tsx @frontend-team @engineering-leads
/src/index.tsx @frontend-team @engineering-leads
/src/main.ts @backend-team @engineering-leads
/src/config/ @devops-team @engineering-leads

# Team lead approvals for certain changes
CODEOWNERS @engineering-leads
.github/branch-protection.yml @engineering-leads
.github/workflows/ @devops-team @engineering-leads
