Repository kkk9131/mmS, changes with the owners that .github/CODEOWNERS names for each.
All owners: @default-team, @frontend-team, @design-team, @backend-team, @dba-team, @security-team, @mobile-team, @ios-team, @android-team, @devops-team, @docs-team, @product-team, @engineering-leads, @qa-team

fix: escape apostrophe in not-found screen text
  src/app/+not-found.tsx
Owners: @frontend-team

chore: bump version to v1.1.0
  CHANGELOG_TEMP.md
  package-lock.json
  package.json
Owners: @docs-team, @engineering-leads

chore: bump version to v1.1.0 (#1)
  CHANGELOG_TEMP.md
  package-lock.json
  package.json
Owners: @docs-team, @engineering-leads

Remove API client test button from home screen
  .kiro/specs/http-client-setup/design.md
  .kiro/specs/http-client-setup/requirements.md
  .kiro/specs/http-client-setup/tasks.md
  __tests__/services/api/httpClient.test.ts
  __tests__/services/api/integration.test.ts
  __tests__/services/api/mockSystem.test.ts
  __tests__/services/featureFlags.test.ts
  docs/api-client-usage.md
  docs/development-roadmap.md
  package-lock.json
  package.json
  src/app/(tabs)/index.tsx
  src/services/api/__mocks__/testData.ts
  src/services/api/config.ts
  src/services/api/connectionTest.ts
  src/services/api/demo.ts
  src/services/api/errorHandler.ts
  src/services/api/httpClient.ts
  src/services/api/index.ts
  src/services/api/interceptors/authInterceptor.ts
  src/services/api/interceptors/requestInterceptor.ts
  src/services/api/interceptors/responseInterceptor.ts
  src/services/api/mockSystem.ts
  src/services/featureFlags.ts
  src/types/api.ts
Owners: @docs-team, @qa-team, @frontend-team, @engineering-leads, @backend-team, @default-team

chore: bump version to v1.2.0
  CHANGELOG_TEMP.md
  package-lock.json
  package.json
Owners: @docs-team, @engineering-leads

feat(auth): 認証API実装を完了
  .kiro/specs/authentication-api/requirements.md
  .kiro/specs/authentication-api/tasks.md
  __tests__/auth/auth-flow.test.ts
  package-lock.json
  package.json
  src/app/login.tsx
  src/contexts/AuthContext.tsx
  src/services/api/auth.ts
  src/services/api/httpClient.ts
  src/services/api/interceptors/authInterceptor.ts
Owners: @docs-team, @qa-team, @frontend-team, @engineering-leads, @backend-team

fix(ci): CI/CDパイプラインを現在のプロジェクト構成に合わせて修正
  .github/workflows/ci.yml
Owners: @devops-team, @engineering-leads

chore: bump version to v1.2.0 (#3)
  CHANGELOG_TEMP.md
  package-lock.json
  package.json
Owners: @docs-team, @engineering-leads

feat: implement authentication API and keyboard handling
  docs/development-roadmap.md
  src/app/(tabs)/post.tsx
  src/app/_layout.tsx
  src/app/chat.tsx
  src/app/profile-edit.tsx
  src/app/profile.tsx
Owners: @docs-team, @frontend-team

chore: update package-lock.json after dependency installation
  package-lock.json
Owners: @engineering-leads

feat(auth): 認証API実装を完了 (#2)
  .github/workflows/ci.yml
  .kiro/specs/authentication-api/requirements.md
  .kiro/specs/authentication-api/tasks.md
  __tests__/auth/auth-flow.test.ts
  docs/development-roadmap.md
  package-lock.json
  package.json
  src/app/(tabs)/post.tsx
  src/app/_layout.tsx
  src/app/chat.tsx
  src/app/login.tsx
  src/app/profile-edit.tsx
  src/app/profile.tsx
  src/contexts/AuthContext.tsx
  src/services/api/auth.ts
  src/services/api/httpClient.ts
  src/services/api/interceptors/authInterceptor.ts
Owners: @devops-team, @engineering-leads, @docs-team, @qa-team, @frontend-team, @backend-team

feat(posts): 投稿関連API実装を完了 (Week 3-4)
  .kiro/specs/posts-api/design.md
  .kiro/specs/posts-api/requirements.md
  .kiro/specs/posts-api/tasks.md
  docs/development-roadmap.md
  src/app/(tabs)/index.tsx
  src/app/(tabs)/post.tsx
  src/contexts/AuthContext.tsx
  src/services/PostsService.ts
  src/types/posts.ts
Owners: @docs-team, @frontend-team, @backend-team, @default-team

feat(posts): 投稿関連API実装を完了 (Week 3-4) (#4)
  .kiro/specs/posts-api/design.md
  .kiro/specs/posts-api/requirements.md
  .kiro/specs/posts-api/tasks.md
  docs/development-roadmap.md
  src/app/(tabs)/index.tsx
  src/app/(tabs)/post.tsx
  src/contexts/AuthContext.tsx
  src/services/PostsService.ts
  src/types/posts.ts
Owners: @docs-team, @frontend-team, @backend-team, @default-team

chore: bump version to v1.3.0
  CHANGELOG_TEMP.md
  package-lock.json
  package.json
Owners: @docs-team, @engineering-leads

chore: bump version to v1.3.0 (#5)
  CHANGELOG_TEMP.md
  package-lock.json
  package.json
Owners: @docs-team, @engineering-leads

feat: Week 5 - その他API実装完了
  .kiro/specs/other-api/design.md
  .kiro/specs/other-api/requirements.md
  .kiro/specs/other-api/tasks.md
  __tests__/hooks/useApiState.test.ts
  __tests__/hooks/useLoadingState.test.ts
  __tests__/services/FollowService.test.ts
  __tests__/services/NotificationService.test.ts
  __tests__/services/UserService.test.ts
  __tests__/setup.ts
  __tests__/utils/apiUtils.test.ts
  __tests__/utils/errorUtils.test.ts
  jest.config.js
  src/app/(tabs)/_layout.tsx
  src/app/(tabs)/index.tsx
  src/app/(tabs)/notifications.tsx
  src/app/follow-list.tsx
  src/app/profile-edit.tsx
  src/app/profile.tsx
  src/hooks/useApiState.ts
  src/hooks/useLoadingState.ts
  src/hooks/useNotificationBadge.ts
  src/services/FollowService.ts
  src/services/NotificationService.ts
  src/services/PostsService.ts
  src/services/UserService.ts
  src/types/follow.ts
  src/types/index.ts
  src/types/notifications.ts
  src/types/users.ts
  src/utils/apiUtils.ts
  src/utils/errorUtils.ts
Owners: @docs-team, @qa-team, @frontend-team, @default-team, @backend-team

chore: bump version to v1.4.0
  CHANGELOG_TEMP.md
  package-lock.json
  package.json
Owners: @docs-team, @engineering-leads

chore: bump version to v1.4.0 (#6)
  CHANGELOG_TEMP.md
  package-lock.json
  package.json
Owners: @docs-team, @engineering-leads

docs: mark phase 1.1-E as completed
  docs/development-roadmap.md
Owners: @docs-team

fix: Web版でのTextInput入力問題を修正
  src/app/login.tsx
Owners: @frontend-team

feat: 開発モード用ログインヘルパー追加
  src/app/login.tsx
Owners: @frontend-team

fix: Redux認証でモック認証サポートを追加
  docs/parallel-development-roadmap.md
  src/app/login.tsx
  src/store/slices/authSlice.ts
Owners: @docs-team, @frontend-team, @default-team

debug: ログインエラー詳細調査用のデバッグ情報追加
  src/app/login.tsx
  src/services/api/auth.ts
Owners: @frontend-team, @backend-team

fix: 開発環境でモック認証を使用するよう設定修正
  src/store/slices/authSlice.ts
Owners: @default-team

feat: 完全なライトモード・ダークモード対応とUI改善を実装
  docs/parallel-development-roadmap.md
  src/app/(tabs)/_layout.tsx
  src/app/(tabs)/index.tsx
  src/app/(tabs)/notifications.tsx
  src/app/(tabs)/post.tsx
  src/app/(tabs)/you.tsx
  src/app/+not-found.tsx
  src/app/_layout.tsx
  src/app/chat-list.tsx
  src/app/chat.tsx
  src/app/complaint-room.tsx
  src/app/follow-list.tsx
  src/app/liked-posts.tsx
  src/app/login.tsx
  src/app/post-history.tsx
  src/app/profile-edit.tsx
  src/app/profile.tsx
  src/app/room.tsx
  src/components/AIEmpathyBot.tsx
  src/components/PostCard.tsx
  src/components/Sidebar.tsx
  src/contexts/AuthContext.tsx
  src/contexts/HandPreferenceContext.tsx
  src/contexts/ThemeContext.tsx
  src/hooks/useHandPreference.ts
  src/providers/ReduxProvider.tsx
  src/services/api/auth.ts
  src/services/api/config.ts
  src/services/featureFlags.ts
  src/store/index.ts
  src/store/slices/authSlice.ts
  src/styles/colors.ts
Owners: @docs-team, @frontend-team, @backend-team, @default-team, @design-team

Fix/web input issue (#8)
  docs/parallel-development-roadmap.md
  src/app/(tabs)/_layout.tsx
  src/app/(tabs)/index.tsx
  src/app/(tabs)/notifications.tsx
  src/app/(tabs)/post.tsx
  src/app/(tabs)/you.tsx
  src/app/+not-found.tsx
  src/app/_layout.tsx
  src/app/chat-list.tsx
  src/app/chat.tsx
  src/app/complaint-room.tsx
  src/app/follow-list.tsx
  src/app/liked-posts.tsx
  src/app/login.tsx
  src/app/post-history.tsx
  src/app/profile-edit.tsx
  src/app/profile.tsx
  src/app/room.tsx
  src/components/AIEmpathyBot.tsx
  src/components/PostCard.tsx
  src/components/Sidebar.tsx
  src/contexts/AuthContext.tsx
  src/contexts/HandPreferenceContext.tsx
  src/contexts/ThemeContext.tsx
  src/hooks/useHandPreference.ts
  src/providers/ReduxProvider.tsx
  src/services/api/auth.ts
  src/services/api/config.ts
  src/services/featureFlags.ts
  src/store/index.ts
  src/store/slices/authSlice.ts
  src/styles/colors.ts
Owners: @docs-team, @frontend-team, @backend-team, @default-team, @design-team

feat: カスタム母子手帳番号認証システムの実装
  .env.example
  src/services/supabase/auth.ts
Owners: @security-team, @engineering-leads, @backend-team

debug: 認証状態変更のデバッグログを追加
  src/app/login.tsx
Owners: @frontend-team

fix: カスタム認証でのgetCurrentUser状態リセット問題を修正
  src/store/slices/authSlice.ts
Owners: @default-team

fix: カスタム投稿取得関数を使用してユーザー名表示を修正
  src/store/api/postsApi.ts
Owners: @default-team

fix: Web版でのポスト画面TextInput入力問題を修正
  src/app/(tabs)/post.tsx
Owners: @frontend-team

debug: 投稿ボタンのクリック問題を調査するためのログ追加
  src/app/(tabs)/post.tsx
Owners: @frontend-team

fix: Web版でのポストボタンクリック問題を修正
  src/app/(tabs)/post.tsx
Owners: @frontend-team

fix: 投稿作成時のSupabaseエラーを修正
  src/app/(tabs)/post.tsx
  src/services/PostsService.ts
Owners: @frontend-team, @backend-team

fix: カスタム認証でのSupabase投稿作成権限エラーを修正
  src/services/PostsService.ts
Owners: @backend-team

debug: Supabase投稿作成エラーの詳細ログを追加
  src/services/PostsService.ts
Owners: @backend-team

debug: post.tsxに詳細な投稿作成デバッグログを追加
  src/app/(tabs)/post.tsx
Owners: @frontend-team

debug: より強制的なデバッグログを追加
  src/app/(tabs)/post.tsx
Owners: @frontend-team

debug: RTK Query createPost エラーの詳細ログを追加
  src/store/api/postsApi.ts
Owners: @default-team

fix: RTK Query createPost のエラー詳細ログを追加
  src/store/api/postsApi.ts
Owners: @default-team

.github/CODEOWNERS:

# CODEOWNERS file for automatic code review assignments
# Each line is a file pattern followed by one or more owners.
# Order is important; the last matching pattern takes precedence.

# Default owners for everything in the repo
* @default-team

# Frontend code owners
/src/components/ @frontend-team
/src/pages/ @frontend-team
/src/styles/ @frontend-team @design-team
/src/hooks/ @frontend-team
/src/utils/ @frontend-team
/src/assets/ @design-team
*.tsx @frontend-team
*.jsx @frontend-team
*.css @frontend-team @design-team
*.scss @frontend-team @design-team

# Backend code owners
/src/api/ @backend-team
/src/services/ @backend-team
/src/models/ @backend-team
/src/middleware/ @backend-team
/src/database/ @backend-team @dba-team
/src/auth/ @backend-team @security-team
*.sql @dba-team

# Mobile specific code
/src/mobile/ @mobile-team
/ios/ @ios-team
/android/ @android-team
*.swift @ios-team
*.kt @android-team
*.java @android-team

# Configuration and DevOps
/.github/ @devops-team
/scripts/ @devops-team
/docker/ @devops-team
/k8s/ @devops-team
*.yml @devops-team
*.yaml @devops-team
Dockerfile* @devops-team
docker-compose* @devops-team

# Documentation
/docs/ @docs-team @product-team
*.md @docs-team
README.md @docs-team @product-team
CONTRIBUTING.md @docs-team @engineering-leads

# Test files
/tests/ @qa-team
/e2e/ @qa-team
/__tests__/ @qa-team
*.test.ts @qa-team @frontend-team
*.test.tsx @qa-team @frontend-team
*.spec.ts @qa-team @backend-team
*.spec.js @qa-team

# Security sensitive files
/.env* @security-team @engineering-leads
/security/ @security-team
*secret* @security-team
*password* @security-team
*token* @security-team
*key* @security-team

# Build and dependency files
package.json @engineering-leads
package-lock.json @engineering-leads
yarn.lock @engineering-leads
tsconfig.json @frontend-team @engineering-leads
.eslintrc* @frontend-team
.prettierrc* @frontend-team
webpack.config.js @frontend-team @devops-team
vite.config.js @frontend-team @devops-team

# Critical application files
/src/App.tsx @frontend-team @engineering-leads
/src/index.tsx @frontend-team @engineering-leads
/src/main.ts @backend-team @engineering-leads
/src/config/ @devops-team @engineering-leads

# Team lead approvals for certain changes
CODEOWNERS @engineering-leads
.github/branch-protection.yml @engineering-leads
.github/workflows/ @devops-team @engineering-leads
